html {
	background-color: lightgreen;
	font-family: Arial;
	font-size: 16px;
	text-align: center;
}

h1 a {
	text-decoration: none;
	font-size: 1.5rem;
	color: black;
}

h2 {
	font-size: 1.3rem;
}

h3 {
	font-size: 1.2rem;
}

td {
	font-size: 1rem;
	line-height: 1.5rem;
}

table {
	display: inline-block;
}

input {
	width: 50%;
}

input, select {
	margin-bottom: 20px;
}

td i {
	font-size: 2rem;
}

td img {
	height: 2rem;
	width: auto;
}

td {
	padding-right: 20px;
	padding-left: 20px;
}

.pretty-button, .pretty-button:visited {
    cursor: pointer;
    display: inline-block;
    outline: none;
    border: none;
    margin: 0em 0.25em 0em 0em;
    padding: 0.78571429em 1.5em 0.78571429em;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    border-radius: 0.28571429rem;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
    box-shadow: 0px 0px 0px 2px black inset !important;
    background: transparent none;
    color: black;
    text-shadow: none !important;
    text-decoration: none;
    margin-top: 8px;
}

