html {
	background-color: lightgreen;
	font-family: Arial;
	font-size: 16px;
	text-align: center;
}

h1 a {
	text-decoration: none;
	font-size: 1.5rem;
	color: black;
}

h2 {
	font-size: 1.3rem;
}

h3 {
	font-size: 1.2rem;
}

td {
	font-size: 1rem;
	line-height: 1.5rem;
}

table {
}

tr:first-child {
	text-align: center;
	padding-right: 20px;
}

input {
	width: 50%;
}

input, select {
	margin-bottom: 20px;
}

td i {
	font-size: 2rem;
}

td img {
	height: 2rem;
	width: auto;
}
